<div class="w-full">
  <div class="w-96 m-auto flex flex-col gap-4">
    <h2 class="uppercase font-bold text-xl text-center">Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do
    |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col gap-2">
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:
            "w-full" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
        </div>

        <div class="actions"><%= f.submit "Create an account", class: "text-white py-4 bg-[#0b57cf] hover:bg-[#083d91] transition-all w-full hover:cursor-pointer rounded-xl" %></div>
      </div>
    <% end %>
    <div class="text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>